workflows/bigtits-meta-post-publish.json
{
  "name": "BigTits — Meta Post Publish",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bigtits/meta-marketing/publish_post",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1-post-webhook",
      "name": "BigTits Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "bigtits-meta-post-publish"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "page-name",
              "name": "page_name",
              "value": "={{ $json.post.page_name }}",
              "type": "string"
            },
            {
              "id": "post-count",
              "name": "post_count",
              "value": "={{ $json.post.posts.length }}",
              "type": "number"
            },
            {
              "id": "api-payload",
              "name": "api_payload",
              "value": "={{ $json.post.api_payload }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "b2-post-extract",
      "name": "Extract Post",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "content": "## Organic Page post\n\n1. Connect Meta Page credentials\n2. Add **Facebook Graph API** node\n3. POST /{{page-id}}/feed with api_payload.posts[0]\n4. Map page_id from credentials",
        "height": 180,
        "width": 340
      },
      "id": "c3-post-note",
      "name": "Setup Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [460, 80]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, source: 'bigtits-n8n', connector: 'meta-marketing', action: 'publish_post', page_name: $json.page_name, post_count: $json.post_count, message: 'Post received — connect Graph API for live publish' } }}"
      },
      "id": "d4-post-respond",
      "name": "Respond to BigTits",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "BigTits Webhook": {
      "main": [[{ "node": "Extract Post", "type": "main", "index": 0 }]]
    },
    "Extract Post": {
      "main": [[{ "node": "Respond to BigTits", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [
    { "name": "bigtits" },
    { "name": "bigtits:meta-marketing" },
    { "name": "bigtits:meta-marketing:publish_post" }
  ],
  "meta": { "templateCredsSetupCompleted": false }
}