workflows/bigtits-meta-marketing-publish.json
{
  "name": "BigTits — Meta Marketing Publish",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bigtits/meta-marketing/publish_campaign",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-webhook-meta",
      "name": "BigTits Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "bigtits-meta-marketing-publish"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "campaign-name",
              "name": "campaign_name",
              "value": "={{ $json.campaign.campaign_name }}",
              "type": "string"
            },
            {
              "id": "ad-count",
              "name": "ad_count",
              "value": "={{ $json.campaign.ads.length }}",
              "type": "number"
            },
            {
              "id": "api-payload",
              "name": "api_payload",
              "value": "={{ $json.api_payload || $json.campaign.api_payload }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-set-fields",
      "name": "Extract Campaign",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "content": "## Add Facebook Graph API node here\n\n1. Connect your Meta Business credentials in n8n\n2. Add **Facebook Graph API** node after Extract Campaign\n3. Map campaign fields to create Campaign → Ad Set → Ads\n4. Keep this workflow active",
        "height": 200,
        "width": 360
      },
      "id": "c3d4e5f6-sticky",
      "name": "Setup Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [460, 80]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, source: 'bigtits-n8n', connector: 'meta-marketing', action: 'publish_campaign', campaign_name: $json.campaign_name, ad_count: $json.ad_count, message: 'Received by shared n8n server — connect Facebook Graph API node for live publish' } }}"
      },
      "id": "d4e5f6a7-respond",
      "name": "Respond to BigTits",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "BigTits Webhook": {
      "main": [
        [
          {
            "node": "Extract Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Campaign": {
      "main": [
        [
          {
            "node": "Respond to BigTits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "bigtits" },
    { "name": "bigtits:meta-marketing" },
    { "name": "bigtits:meta-marketing:publish_campaign" }
  ],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}